@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {

--cgd-bg-primary: #e5e5e5;
--cgd-bg-segundary: #D8DFE8;

--cgd-font-primary: #0A3871;
--cgd-font-secundary: #343A40;
--cgd-font-tertiary: #495057;

--cgd-font-quartenary: #fff;


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif
}

html, body {
    background-color: var(--cgd-bg-primary);
}

.logo-alura {
    margin-top: 40px;
    margin-left: 60px;
}

header {
    padding: 0 40px;
    width: 100%;
}

.grid-header {
    width: 100%;
}

#grid-layout {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

#section-text {
   
}

.text-area {
    border: none;
    background-color: var(--cgd-bg-primary);
    color: var(--cgd-font-primary);
    margin-top: 90px;
    width: 680px;
    height: 635px;
    font-size: 32px;
    resize: none;
}

::placeholder {
    color: var(--cgd-font-primary);
    font-size: 32px;
    
} 

.text-area:focus {
    outline: none;
}

#section-mensagem {
  
}


.mensagem {
    background: var(--cgd-font-quartenary);
    background-image: url(/assets/imageBoneco.svg);
    background-position:  top 250px center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--cgd-font-tertiary);
    margin-left: 98px;
    margin-top: 20px;
    padding: 32px 32px 130px 32px;
    position: absolute;
    width: 400px;
    top: 30px;
    height: 900px;
    resize: none;
    font-size: 24px;
    
}

.notification{
    position: absolute;
    background-color: var(--cgd-font-quartenary);
    margin-top: 550px;
    width: 100%;
    max-width: 336px;
    margin-left: 130px;
    text-align: center;

 }
.mensagem:focus {
    outline: none;
}

.container-btn {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: var(--cgd-bg-segundary);
    border: 1px solid var(--cgd-font-primary);
    border-radius: 24px;
    color: var(--cgd-font-primary);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}


.btn-encriptar {
    background: var(--cgd-font-primary);
    border: 1px solid var(--cgd-font-primary);
    border-radius: 24px;
    color: var(--cgd-font-quartenary);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copy {
    background: var(--cgd-bg-segundary);
    border: 1px solid var(--cgd-font-primary);
    border-radius: 24px;
    color: var(--cgd-font-primary);
    cursor: pointer;
    height: 67px;
    margin-left: 130px;
    margin-top: 760px;
    position: absolute;
    width: 336px;
}

.info {
    color: var(--cgd-font-tertiary);
    font-size: 18px;
    display: flex;
}

.info img {
    margin-right: 5px;
    display: block;
}